:root {
    --cor1: #55ACE9;
    --cor2: #DBE8FF;
    --cor3: #A47ADA;
    --cor4: #BFB8FF;
    --cor5: #FFFFFF;
}

body{
    background-color: #55ACE9;
    background-attachment: scroll;
}

.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 1200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #DBE8FF;
    margin: 20px;
    border: 1px solid #BFB8FF;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    margin: 30px 37px;
    margin-top: 0;
}

.container .card .img{
    transition: 0.5s;
}

.container .card .p1{
    font-size: 2rem;
}

.container .card .content{
    padding: 20px;
    text-align: center;
}

.container .card .content .p1{
    color: #BFB8FF;
    transition: 0.5s;
}

.container .card .content .a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #55ACE9;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover{
    background-color: #BFB8FF;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #BFB8FF;
    border-color: #BFB8FF;
}

.container .card:hover .img{
    filter: invert(1);
}

.container .card:hover .content .p1{
    color: white;
}

.container .card:hover .content .a{
    color: #000;
    background-color: white;
}

.content{
    font-family: "Inter", sans-serif;
    color: #BFB8FF;
}

.trianguloa{
    border-left: 98.8vw solid var(--cor1);
    border-top: 170px solid var(--cor5);
    /* background-color: red; */
}

.triangulob{
    border-right: 98.8vw solid var(--cor1);
    border-bottom: 170px solid var(--cor5);
}

#pf{
    margin: 6px;
}

.assineOferta{
    background-color: #BFB8FF;
    color: #A47ADA ;
    padding: 30px;
    text-align: center;
}

.hInput{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border 0.3s;
}

button{
    padding: 10px;
    margin: 30px;
    border: none;
    border-radius: 20px;
    background-color:#A47ADA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.perguntas{
    text-align: center;
    background-color: white;
    font-family: "Inter", sans-serif;
    color:#A47ADA;
    padding-top: 30px;
}

.block1{
    background-color: var(--cor1);
    color: var(--cor5);
    border: solid 1px black;
    border-radius: 28px;
    width: 45%;
    padding: 20px;
    background-color: #BFB8FF;
}

.blocks{
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}