:root {
    --cor1: #55ACE9;
    --cor2: #DBE8FF;
    --cor3: #A47ADA;
    --cor4: #BFB8FF;
    --cor5: #FFFFFF;
}

body {
    height: 100vh; /* Ocupa a altura total da janela */
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    overflow-x: hidden; /* Evita scroll horizontal */
}

main {
    background-color: var(--cor2);
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    padding: 30px;
    padding-bottom: 0%;
    box-sizing: border-box; /* Inclui padding na largura */
    margin-top: 60px;
    margin-bottom: 50px;
    max-width: 100%; /* Evita estouro horizontal */
}

#left-content {
    width: 49.5%;
    border-bottom: solid 3px #55ACE9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box; /* Inclui borders na largura */
}

#loginIcon {
    background-color: #BFB8FF;
    width: 25%;
    height: 20%;
    border-radius: 40px;
}

#left-content input, button {
    border: none;
    border-radius: 12px;
    height: 30px;
    margin-top: 15px;
}

#left-content input::placeholder {
    color: var(--cor3);
}

#left-content button {
    background-color: var(--cor4);
    color: var(--cor5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 94.5%;
    padding: 0px;
}

#left-content p, a {
    color: var(--cor1);
    text-decoration: none;
    font-size: small;
}

#right-content {
    width: 49.5%;
    padding: 1px;
    border-left: solid 3px #55ACE9;
    border-bottom: solid 3px #55ACE9;
    box-sizing: border-box;
}

#bottom-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

#logoDiv {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    /* background-color: red; */
}

#logoImg {
    width: 70%;
    /* background-color: blue; */
}

@media screen and (max-width: 1092px) {
    main {
        max-height: 43%;
        width: 80%;
        padding: 20px;
        margin-top: 0;
    }

    #left-content {
        flex: 1;
    }

    #left-content button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    #left-content button p {
        display: none;
    }

    #left-content button img {
        width: 80%;
        height: 80%;
    }

    #left-content p {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
    }

    #loginIcon {
        width: 20%;
        height: 24.5%;
        margin-right: 18px;
    }

    #right-content {
        display: none;
    }

    #bottom-content {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #bottom-content img {
        width: 90%;
    }

    #logoDiv {
        width: 100%;
        height: 100%;
    }

    #logoImg {
        width: 90%;
    }

    /* footer {
        position: absolute;
        bottom: 0;
    } */
}