@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: #55ACE9;
    --cor2: #DBE8FF;
    --cor3: #A47ADA;
    --cor4: #BFB8FF;
    --cor5: #FFFFFF;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.atlas {
    margin: auto;
    align-self: center;
}

.perfil {
    margin: 15px;
    width: 8%;
    margin-top: 10px;

}

.cabeça {
    background-color: var(--cor2);
    display: flex;
    height: 19%;
    text-wrap: inherit;
    padding-right: 10px;
    padding-left: 10px;
    align-self: center;
    

}

.navbar {
    background-color: var(--cor4);
    color: var(--cor3);
    height: 4%;
    display: flex;
    align-items: center;
}

.lupa {
    width: 2%;
    padding-right: 30px;
    margin-left: 0.1px;
}

.Pesquisar {
    margin-left: auto;
    text-decoration: underline;
}

#left-content {
    background-color: var(--cor2);
    border-radius: 12px;
    width: 35%;
    height: 20%;
    margin-top: 0.5%;
    margin-left: 10%;
    margin-bottom: 1.5%;
    border: solid 1px black;
    padding: 40px;
    font-size: 25px;
    padding: 30px;
    align-content: center;


}

#img {
    width: 35%;
    height: 65%;
    margin-left: 11%;
    margin-bottom: 50%;
    padding: 10px;
    position: fixed;


}

#right-content {
    background-color: var(--cor2);
    border-radius: 12px;
    margin-bottom: 1.5%;
    width: 25%;
    height: 55%;
    padding: 30px;
    border: solid 1px black;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 23.5%;
    margin-top: 0.5%;
    margin-right: 10%;
    align-content: center;
    
}

#texto {
    margin: 7px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: var(--cor3);
}

input::placeholder {
    color: var(--cor3);
    font-weight: bold;
    width: 300px;


}

#TextosIniciais{
    width: 100%;
    font-weight: bold;
    color:var(--cor3);
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
}

#bottom-content {
    width: 170%;
    display: flex;
    flex-direction: row;
    padding: 0;
    color: var(--cor3);
    padding: 20px;
    

}


#sendButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--cor3);
    font-size: large;
    font-weight: bold;
    background-color: var(--cor4);
}

button {
    color: var(--cor3);
    border: none;
    border-radius: 12px;
    height: 30px;
    width: 30%;
    margin-top: 15px;
    margin-left: 75px;
    
}


#right-content input {
    border: none;
    border-radius: 12px;
    height: 30px;
    margin-top: 15px;
}

input {
    color: var(--cor3);
    border: none;
    border-radius: 12px;
    height: 45px;
    width: 80%;
    margin-top: 15px;
    
}


footer {
    background-color: var(--cor2);
    color: var(--cor3);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}