@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: #55ACE9;
    --cor2: #DBE8FF;
    --cor3: #A47ADA;
    --cor4: #BFB8FF;
    --cor5: #FFFFFF;
}

header {
    background-color: var(--cor2);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cabeça {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.perfil {
    height: 60%;
    margin: 10px;
    background-color: var(--cor4);
    border-radius: 50%;
}

#menuIcon {
    visibility: hidden;
}

.navbar {
    background-color: var(--cor4);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--cor3);
    padding: 3px;
}

#links {
    width: 40%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

.navLinks {
    text-decoration: none;
    color: var(--cor3);
}

#searchBar {
    display: flex;
    flex-direction: row;
}

#searchBar input::placeholder {
    color: var(--cor3);
}

#searchInput {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--cor3);
}

/* menu hamburguer invisivel: */
.dispNone {
    display: none;
}

.dispFlex {
    display: flex;
    flex-direction: row;
}

/* menu hamburguer visivel: */
.sla {
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu {
    background-color: var(--cor4);
    width: 60%;
    height: 100%;
}

.menuLista {
    margin-top: 10px;
    list-style-type: none;
}

.itemMenuLista {
    width: 80%;
    padding: 15px;
    border-bottom: 2px solid var(--cor3);
    color: var(--cor3);
    font-weight: 500;
}

.backgroundMenu {
    background-color: rgba(158, 158, 158, 0.3);
    width: 50%;
}

@media screen and (max-width: 1092px) {
    .atlas {
        width: 60%;
    }

    .perfil {
        height: 40%;
        margin: 10px;
    }

    #menuIcon {
        visibility: visible;
    }

    .navbar {
        display: none;
    }
}

