@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

html, body {
    height: 100%; /* Garante que a página ocupe 100% da altura */
    margin: 0; /* Remove margens padrões */
    display: flex;
    flex-direction: column; /* Define um layout em coluna */
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
}

input {
    padding-left: 10px;
}