:root {
    --cor1: #55ACE9;
    --cor2: #DBE8FF;
    --cor3: #A47ADA;
    --cor4: #BFB8FF;
    --cor5: #FFFFFF;
}

header {
    padding-top: 5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
    padding-left: 2%;
    box-sizing: border-box;
    margin-bottom: 0px;
    max-width: 100%;
    margin-left: 2%;
}

.right-content {
    background-color: var(--cor2);
    border-radius: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    height:100% ;
    margin-top: 1%;
    margin-left: 8%;
    border: #000 solid 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.left-content {
    margin-left: 4%;
}

.bottom-content {
    background-color: var(--cor2);
    border-radius: 25px;
    height: 15%;
    width: 105%;
    justify-content: center;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: #000 solid 1px;
    box-shadow: 0 4px 6px rgba (0, 0, 0, 0.3);

    }

.popup {
    background-color: #BFB8FF;
    color: #A47ADA;
    border-radius: 17px;
    width: 65%;
    height: 8%;
    margin-left: 17%;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border: none;
}

.split-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: 0;
    padding: 0;
}
.split-list li {
    padding: 1px;
}
.mobile-content{
    display: none;
}


@media screen and (max-width: 425px) {
    main {
        display: flex;
        flex-direction: column; /* Organiza os elementos verticalmente */
        flex-wrap: nowrap;
        width: 95%;
        height: auto; /* Ajusta para altura dinâmica */
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 0px;
        max-width: 100%;
        margin-left: 1px;
    }

    .left-content, .right-content {
        display: none;  
    }

    .mobile-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--cor2);
        justify-content: center;
        margin-left: 4%;
        border-radius: 20px;
        margin-top: 5%;
        padding-bottom: 10%;
    }
    .popup{
        margin-top: 5%;
        margin-right: 16%;
        border: none;
    }
    header{
        padding-top: 0%;
    }
}