@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: #55ACE9;
    --cor2: #DBE8FF;
    --cor3: #A47ADA;
    --cor4: #BFB8FF;
    --cor5: #FFFFFF;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}    
.atlas{
    margin:auto
}
.perfil{
margin: 15px;
height: 60%;
}

.cabeça{
background-color: var(--cor2);
align-items: center;
display: flex;
height: 100px;
text-wrap:inherit;
padding-right: 10px;
padding-left: 10px;
 
}

.navbar{
background-color:var(--cor4);
color: var(--cor3);
display: flex;
font-family: "Inter", sans-serif;
font-size: larger;
font-display:initial;

}

.lupa{
margin-left: 73%;
padding-right: 10px;
padding-left: 10px;

}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    padding-bottom: 0%;
    box-sizing: border-box;
    margin-bottom: 90px;
    max-width: 100%;
}

.right-content {
    background-color: var(--cor2);
    border-radius: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    margin-left: 100px;
    
}

#texto-direita{
    display: flex;
    justify-content: center;
    list-style: disc;
}

.left-content {
    margin-left: 7%;
}

.bottom-content {
    background-color: var(--cor2);
    border-radius: 25px;
    height: 80px;
    justify-content: center;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer {
    background-color: var(--cor2);
    color: var(--cor3);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    display: grid;
    grid-template-columns: 1fr auto; 
    gap: 20px; 
    border: 1px solid #ddd;
    padding: 20px;
}
.split-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
.split-list li {
    padding: 1px;
}